@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("assets/bg.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}